img {
  -webkit-transition-duration: 0.01s; /* Safari */	
}
body.index {
  background: url("https://raw.githubusercontent.com/audioelectronicadelasierra/web/master/inicio.jpg");
  background-repeat: no-repeat;
  font-family: "Andale Mono", AndaleMono, monospace;
  background-attachment: scroll;
  background-position: center;
  -webkit-background-size: cover; /* For WebKit*/
  -moz-background-size: cover;    /* Mozilla*/
  -o-background-size: cover;      /* Opera*/
  background-size: cover;
  position: absolute;
}
body.about {
  background: url("https://raw.githubusercontent.com/audioelectronicadelasierra/web/master/empresa.jpg");
  background-repeat: no-repeat;
  font-family: "Andale Mono", AndaleMono, monospace;
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  -webkit-background-size: cover; /* For WebKit*/
  -moz-background-size: cover;    /* Mozilla*/
  -o-background-size: cover;      /* Opera*/
}
body.contact {
  background: url("https://raw.githubusercontent.com/audioelectronicadelasierra/web/master/contacto.jpg");
  background-repeat: no-repeat;
  font-family: "Andale Mono", AndaleMono, monospace;
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  -webkit-background-size: cover; /* For WebKit*/
  -moz-background-size: cover;    /* Mozilla*/
  -o-background-size: cover;      /* Opera*/
}
ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.menu {
    float: left;
}

li.menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.menu a:hover {
    background-color: #444;
}
h1 {
  text-align: center;
  float: top;
}
table {
  align: center;
  position: center;
  float: bottom;
}
tr {
  text-align: center;
  padding: 8px;
}
td {
  text-align: center;
  padding: 8px;
}
p.note {
  text-align: center;
  float: bottom;
  color: white;
}
h3 {
  text-align: center;
  float:bottom;
}
h4 {
  text-align: center;
  float:bottom;
  color: white;
}
h2 {
  text-align: center;
  float:bottom;
}
